<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

   <div class="row">
    <div class="field small-10 small-centered columns"> 
      <input type="text" name="user[first_name]", placeholder="New First Name">  
    </div>
  </div>
  
  <div class="row">
    <div class="field small-10 small-centered columns"> 
      <input type="text" name="user[last_name]", placeholder="New Last Name">  
    </div>
  </div> 

  <div class="row">
    <div class="field small-10 small-centered columns"> 
      <input type="text" name="user[email]", placeholder="New Email">  
    </div>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="row">
    <div class="field small-10 small-centered columns"> 
      <input type="password" name="user[current_password]" autocomplete="off" , placeholder="Current Password">  
    </div>
  </div>

    <div class="row">
    <div class="field small-10 small-centered columns">
      <input type="password" name="user[password]", placeholder="New Password">  
    </div>
  </div>

  <div class="row">
    <div class="field small-10 small-centered columns"> 
      <input type="password" name="user[password_confirmation]" autocomplete="off" , placeholder="Confirm New Password">  
    </div>
  </div>

  <div class="actions">
    <%= f.submit "Update profile" %>
  </div>
<% end %>

<%= button_to "Delete my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %>

<%= link_to "Back", :back %>
