<div class="container">

<h2>Favorite Places</h2>

<% @user.favorites.each do |estab| %>

<div id='favorite'>
<div class='row'>
<div class='small-8 columns'><a href='<%=estab.establishment.website%>'><%= estab.establishment.name %></a></div>
</div>
<div class='row'><div class='small-8 columns'>Phone: <%= estab.establishment.phone_number %>
<%= estab.establishment.address_1 %>, <%= estab.establishment.address_2 %></div>
</div>
<div class='row'><div class='small-8 columns'><%= estab.establishment.city %>, <%= estab.establishment.state %></div>

<!-- <button class="button alert small-3 columns">Remove</button> -->
<button class="button alert small-3 columns"><%= link_to "Remove", favorite_path(estab), method: :delete, data: {confirm: "This can not be undone"} %></button>
</div>
</div>


<% end %>

</div>