<div class="container">

<h2>Favorite Places</h2>

<% @user.favorites.each do |estab| %>

<div id='favorite'>
<div class='row'>
<div class='small-8 columns'><a class="favorites" href='#'><%= estab.establishment.name %></a></div>
</div>
<div class='row'><div class='small-8 columns'>Phone: <%= estab.establishment.phone_number %>
<%= estab.establishment.address_1 %>, <%= estab.establishment.address_2 %></div>
</div>
<div class='row'><div class='small-8 columns'><%= estab.establishment.city %>, <%= estab.establishment.state %></div>

<button class="button remove small-3 columns"><%= link_to "Remove", favorite_path(estab), method: :delete %></button>
</div>
</div>


<% end %>

</div>