<div class="container">

  <div class="row">
    <div class="medium-4 medium-centered columns">
    <% if @user.profile_picture != nil %>
      <img class="picture" src=<%= @user.profile_picture %> height='150' width ='150'>
    <% else %>
      <img class="picture" src="http://i2.mirror.co.uk/incoming/article2253395.ece/alternates/s2197/Silhouette.png" height='150' width='150'>
    <% end %>
    </div>
  </div>

<div class="row">
<h2><%= @user.first_name %>
<%= @user.last_name %></h2>
<p class="email">Email: <%= @user.email %></p>
</div>

<% if @addresses.length > 0 %>
	<!-- <ul class="dropdown menu" data-dr/opdown-menu> -->
  <li>
    <ul class="menu">
    <div class="row">
      <p class="small-4 small-centered columns">Home</p>
      <% @addresses.each do |address| %>
        <% if address.address_type == 'Home' %>
        <ul>
      		<li class="small-12 columns"><%= address.full_address %></li>
        </ul>
        <% end %>
      <% end %>
      </div>
      <br>
      <div class="row">
      <p class="small-4 small-centered columns">Work</p>
      <% @addresses.each do |address| %>
        <% if address.address_type == 'Work' %>        
        <ul>
          <li class="small-12 columns"><%= address.full_address %></li>
        </ul>
        <% end %>
      <% end %>
      </div>
      <br>

      <li><a href='#'>Edit Addresses</a>
    </ul>
  </li>
<!-- </ul> -->
  <% else %>
  	<%= link_to "Add Address", new_address_path, class: "address2" %>
  <% end %>
</div>


