<div class="container">

<div class="row">
<h2><%= @user.first_name %>
<%= @user.last_name %></h2>
<p>Email: <%= @user.email %></p>
<p>Phone: <%= @user.phone_number %></p>
</div>

<% if @addresses.length > 0 %>
	<ul class="dropdown menu" data-dropdown-menu>
  <li>
    <a href="#">Saved Addresses</a>
    <ul class="menu">
      <% @addresses.each do |address| %>
      	<% if address.address_type == 'Home' %>
      		<li>Home: <%= address.full_address %></li>
      	<% elsif address.address_type == 'Work' %>
      		<li>Work: <%= address.full_address %></li>
      	<% end %>
      <% end %>

      <li><a href='#'>Edit Addresses</a>
    </ul>
  </li>
</ul>
<% else %>
	<%= link_to "Add Address", new_address_path %>
<% end %>
</div>


