<div class="container">

  <div class="row">
    <div class="medium-4 medium-centered columns">
    <% if @user.profile_picture != nil %>
      <img class="picture" src=<%= @user.profile_picture %> height='150' width ='150'>
    <% else %>
      <img class="picture" src="http://i2.mirror.co.uk/incoming/article2253395.ece/alternates/s2197/Silhouette.png" height='150' width='150'>
    <% end %>
    </div>
  </div>

<div class="row">
<h2><%= @user.first_name %>
<%= @user.last_name %></h2>
<p class="email">Email: <%= @user.email %></p>
</div>

<% if @addresses.length > 0 %>
	<ul class="dropdown menu" data-dropdown-menu>
  <li>
    <a class="address" href="#">Saved Addresses</a>
    <ul class="menu">
      <% @addresses.each do |address| %>
      	<% if address.address_type == 'Home' %>
      		<li>Home: <%= address.full_address %></li>
      	<% elsif address.address_type == 'Work' %>
      		<li>Work: <%= address.full_address %></li>
      	<% end %>
      <% end %>

      <li><a href='#'>Edit Addresses</a>
    </ul>
  </li>
</ul>
  <% else %>
  	<%= link_to "Add Address", new_address_path, class: "address2" %>
  <% end %>
</div>


