<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script   src="https://code.jquery.com/jquery-2.2.4.min.js"   integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="   crossorigin="anonymous"></script>
   <link href='https://fonts.googleapis.com/css?family=Lato:400,100,300' rel='stylesheet' type='text/css'>
    <title><%= content_for?(:title) ? yield(:title) : "CrossRoads" %></title>
    <script src="https://maps.googleapis.com/maps/api/js?libraries=places" async defer></script>
    <%= javascript_include_tag "application" %>
    <%= stylesheet_link_tag    "application" %>
    <%= csrf_meta_tags %>
  </head>

  <body>

  <div class="title-bar" data-responsive-toggle="example-menu" data-hide-for="medium">
  <button class="menu-icon" type="button"></button>
  <div class="title-bar-title">Crossroad</div>
</div>

<div class="top-bar" id="example-menu">
  <div class="top-bar-left">
    <ul class="dropdown menu" data-dropdown-menu>
      <li>
          <% if user_signed_in? %>
          <a href="#"><%= current_user.first_name %></a>
          <ul class="menu vertical">
            <li><%= link_to "Home", root_path %></li>
            <li><%= link_to "Profile", user_path(current_user.id) %></li>
            <li><%= link_to "Favorites", favorites_path %></li>
            <li><%= link_to "Logout", logout_path %></li>
          </ul>
            <li><%= link_to "New Search", search_show_path %></li>
          <% else %>
            <a href="#">Options</a>
            <ul class="menu vertical">
              <li><%= link_to "Home", root_path %></li>
              <li><%= link_to "Login", login_path %></li>
              <li><%= link_to "Create an Account", new_user_registration_path %></li>
              <li><%= link_to "Forgot your password?", new_user_password_path %></li>
           
            </ul>
            <li><%= link_to "New Search", search_show_path %></li>
          <% end %>
      </li>
    </ul>
  </div>

</div>

<script>
  $(document).ready(function() {
    $('.menu-icon').on('click', function(event){
      $('.top-bar').slideToggle(500);
    });
  });
</script>
    <%= yield %>

  </body>
</html>
