<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
   
    <title><%= content_for?(:title) ? yield(:title) : "CrossRoads" %></title>
    <%= javascript_include_tag "application" %>
    <%= stylesheet_link_tag    "application" %>
    <%= csrf_meta_tags %>
  </head>

  <body>

  <div class="title-bar" data-responsive-toggle="example-menu" data-hide-for="medium">
  <button class="menu-icon" type="button" data-toggle></button>
  <div class="title-bar-title">Crossroad</div>
</div>

<div class="top-bar" id="example-menu">
  <div class="top-bar-left">
    <ul class="dropdown menu" data-dropdown-menu>
      <li>
          <% if user_signed_in? %>
          <a href="#"><%= current_user.first_name %></a>
          <ul class="menu vertical">
            <li><%= link_to "Home", root_path %></li>
            <li><%= link_to "Profile", user_path(current_user.id) %></li>
            <li><%= link_to "Favorite", favorites_path %></li>
            <li><%= link_to "Logout", logout_path %></li>
          </ul>
            <li><%= link_to "New Search", search_show_path %></li>
          <% else %>
            <a href="#">Options</a>
            <ul class="menu vertical">
              <li><%= link_to "Login", login_path %></li>
             
                <li><%= link_to "Create Account", new_user_registration_path %></li>
          
             
                <li><%= link_to "Forgot your password?", new_user_password_path %></li>
           
            </ul>
            <li><%= link_to "New Search", search_show_path %></li>
          <% end %>
      </li>
    </ul>
  </div>

</div>
    <%= yield %>

  </body>
</html>
